@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@font-face {
  font-family: "Ostrich Sans Rounded";
  font-style: normal;
  font-weight: 500;
  src: local("Ostrich Sans Rounded"), url("https://invisibleparade.com/assets/images/OstrichSansRoundedMedium.woff") format("woff");
}
.footer-col-wrapper, .wrapper {
  *zoom: 1;
}
.footer-col-wrapper:before, .wrapper:before, .footer-col-wrapper:after, .wrapper:after {
  content: " ";
  display: table;
}
.footer-col-wrapper:after, .wrapper:after {
  clear: both;
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
body {
  font: 400 17px/1.6 "Lato", "Helvetica", sans-serif;
  color: #333;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

.aside {
  padding: 15px;
  margin-bottom: 30px;
  background-color: rgb(232.75, 232.75, 232.75);
  color: rgb(105.25, 105.25, 105.25);
  font-size: 0.9em;
  font-style: italic;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: 30px;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: 14.875px;
}

/**
 * Lists
 */
ul, ol {
  margin-left: 30px;
}

li > ul,
li > ol, ul > ul,
ul > ol, ol > ul,
ol > ol {
  margin-bottom: 0;
}

dt {
  padding-bottom: 15px;
}

dd {
  margin-top: -15px;
  padding-left: 30px;
  padding-bottom: 15px;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

/**
 * Links
 */
a {
  color: #2a7ae2;
  text-decoration: none;
}
a:visited {
  color: #2a7ae2;
}
a:hover {
  color: rgb(109.3326446281, 164.0433884298, 235.1673553719);
}
a.post-link {
  color: #333;
}

p a {
  text-decoration: underline;
}

/**
 * Blockquotes
 */
blockquote {
  background-color: #f7f7f7;
  border: 1px solid rgb(232.75, 232.75, 232.75);
  border-left: 8px solid #c3c3c3;
  padding: 15px 30px;
}
blockquote > :last-child {
  margin-bottom: 0;
}

/**
 * Code formatting
 */
pre,
code {
  border-radius: 3px;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;
}
pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - 30px * 2);
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}
@media screen and (max-width: 800px) {
  .wrapper {
    max-width: -webkit-calc(800px - (30px));
    max-width: calc(800px - (30px));
    padding-right: 15px;
    padding-left: 15px;
  }
}

/**
 * Clearfix
 */
.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  vertical-align: middle;
}
.icon > svg path {
  fill: #A9A9A9;
}

.social-media-list .icon {
  width: 18px;
  height: 18px;
  padding-right: 5px;
}
.social-media-list li + li {
  padding-top: 5px;
}

/**
 * Dark Mode
 */
@media (prefers-color-scheme: dark) {
  body {
    color: #c8c4bc;
    background-color: #2d2d2d;
  }
  a {
    color: rgb(109.3326446281, 164.0433884298, 235.1673553719);
  }
  a:visited {
    color: rgb(109.3326446281, 164.0433884298, 235.1673553719);
  }
  a:hover {
    color: rgb(109.3326446281, 164.0433884298, 235.1673553719);
  }
  a.post-link {
    color: #c8c4bc;
  }
  blockquote {
    background-color: #353535;
    border: 1px solid #454545;
    border-left: 8px solid #505050;
  }
  .aside {
    background-color: #353535;
    border: 1px solid #454545;
    color: #c8c4bc;
  }
  img {
    opacity: 0.9;
  }
}
.full {
  display: none;
}

.mobile {
  display: block;
}

/**
 * Site header
 */
.site-header {
  min-height: 55.95px;
}

.site-title {
  font-family: "Ostrich Sans Rounded", -apple-system, "Helvetica Neue", sans-serif;
  font-size: 50px;
  font-variant: small-caps;
  margin-bottom: 0;
  margin: 0px;
  float: left;
}
.site-title, .site-title:visited, .site-title:hover {
  color: #333;
}
@media screen and (max-width: 600px) {
  .site-title {
    float: none;
  }
}

.site-nav {
  float: left;
  width: 100%;
  text-align: left;
}
.site-nav .page-link {
  color: #333;
  line-height: 1.6;
  padding: 10px;
}
.site-nav .page-link:first-child {
  padding-left: 0px;
}

.header-banner {
  margin-top: -30px;
  margin-bottom: 30px;
  height: 2px;
  width: 100%;
  background-image: linear-gradient(45deg, #fdfdfd, #fdfdfd, #333, #333, #333, #333, #fdfdfd, #fdfdfd);
}

.logo-container {
  float: left;
  background-color: #fdfdfd;
  padding: 0px 10px 0px 0px;
}

#header-logo-white {
  display: none;
  margin-top: 20px;
}

#header-logo-black {
  display: block;
  margin-top: 20px;
}

/**
 * Site footer
 */
.site-footer {
  margin-top: 30px;
  font-size: 0.9em;
  text-align: center;
}

.footer-heading {
  font-size: 19.125px;
  margin-bottom: 15px;
}

.contact-list,
.social-media-list {
  list-style: none;
  text-align: center;
}
.contact-list a,
.social-media-list a {
  display: inline-block;
  margin: 0 15px;
}

.footer-col-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: -15px;
}

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px;
}

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - 30px / 2);
}

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - 30px / 2);
}

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - 30px / 2);
}

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - 30px / 2);
  }
  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - 30px / 2);
  }
}
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - 30px / 2);
  }
}
/**
 * Page content
 */
.page-content {
  padding: 60px 0;
}

.page-heading {
  font-size: 25.5px;
}

.post-list {
  margin-left: 0;
  list-style: none;
}
.post-list > li .wrapper {
  border-bottom: 1px solid rgb(232.75, 232.75, 232.75);
  padding-bottom: 60px;
  margin-bottom: 90px;
}

.post-meta {
  font-size: 14.875px;
  color: #A9A9A9;
}
.post-meta a {
  color: #A9A9A9;
}
.post-meta a:hover {
  color: rgb(105.25, 105.25, 105.25);
}
.post-meta.link {
  margin-top: -30px;
}

.paginator {
  float: left;
  width: 100%;
}
.paginator .next-link {
  float: right;
  margin-right: 30px;
}
.paginator .prev-link {
  float: left;
  margin-left: 30px;
}

/**
 * Posts
 */
.post-title, .post-link {
  font-size: 34px;
  line-height: 1;
  letter-spacing: -1px;
  display: block;
}

.post-banner {
  margin-top: -15px;
  margin-bottom: 30px;
  height: 3px;
  width: 100%;
  opacity: 0.8;
}

.post-content h2 {
  font-size: 25.5px;
  letter-spacing: -1px;
}
.post-content h3 {
  font-size: 20.4px;
  letter-spacing: -1px;
}
.post-content h4 {
  font-size: 18.7px;
}
.post-content .center-image {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}
.post-content .image-caption {
  margin-top: -28px;
  text-align: center;
  font-size: 13.6px;
  font-style: italic;
}

.post-tag {
  display: none;
  /* display: inline-block; */
  padding: 2px 5px;
  margin-left: 5px;
  background-color: rgb(232.75, 232.75, 232.75);
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 11.9px;
}
.post-tag:first-of-type {
  margin-left: 10px;
}

.post-related {
  margin-top: 60px;
}
.post-related .wrapper {
  padding-top: 60px;
  border-top: 1px solid rgb(232.75, 232.75, 232.75);
}

.post-comments {
  margin-top: 60px;
}
.post-comments .wrapper {
  padding-top: 60px;
  border-top: 1px solid rgb(232.75, 232.75, 232.75);
}

p.archive-categories {
  text-align: left;
}
p.archive-categories a {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 2px 15px;
  margin: 0px 5px 10px 5px;
  border-bottom: 2px solid rgb(232.75, 232.75, 232.75);
}
p.archive-categories a.selected {
  border-bottom: 3px solid #2a7ae2;
}

table.archive-list {
  margin-bottom: 30px;
}
table.archive-list td {
  padding: 0px;
}

.date-text {
  display: inline-block;
  min-width: 60px;
  text-align: right;
  margin-right: 15px;
  color: #A9A9A9;
}

form ::placeholder {
  color: #aaa;
}
form input, form textarea, form button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 12px;
  border: 1px solid #cccccc;
  border-radius: 2px;
  font-size: 17px;
}
form input {
  margin-right: 10px;
  width: 200px;
}
form textarea {
  width: 414px;
  max-width: 100%;
  height: 150px;
}
form button {
  width: 100px;
  background-color: #2a7ae2;
  color: white;
}

.grid {
  margin: 0px auto;
}
.grid .grid-item {
  margin-bottom: 5px;
}

@media (min-width: 480px) {
  .full {
    display: block;
  }
  .compact {
    display: none;
  }
  .site-title {
    font-size: 80px;
  }
  #header-logo-white {
    margin-top: 45px;
  }
  #header-logo-black {
    margin-top: 45px;
  }
  .logo-container {
    padding: 0px 10px;
  }
  .header-banner {
    margin-top: -45px;
  }
}
@media (prefers-color-scheme: dark) {
  .site-header {
    border-top: 5px solid #2d2d2d;
  }
  .site-title, .site-title:visited {
    color: #c8c4bc;
  }
  .header-banner {
    background-image: linear-gradient(45deg, #2d2d2d, #2d2d2d, #c8c4bc, #c8c4bc, #c8c4bc, #c8c4bc, #2d2d2d, #2d2d2d);
  }
  .logo-container {
    background-color: #2d2d2d;
  }
  #header-logo-white {
    display: block;
  }
  #header-logo-black {
    display: none;
  }
  .site-nav .page-link {
    color: #c8c4bc;
  }
  .post-related {
    border-top: 1px solid rgb(105.25, 105.25, 105.25);
  }
  .post-comments {
    border-top: 1px solid rgb(105.25, 105.25, 105.25);
  }
  .post-list > li .wrapper {
    border-bottom: 1px solid rgb(105.25, 105.25, 105.25);
  }
  p.archive-categories a {
    color: #c8c4bc;
  }
}
.callout {
  padding: 15px;
  border: 2px dashed #A9A9A9;
  margin-bottom: 30px;
}
.callout .title {
  font-weight: bold;
  font-size: 0.9em;
}

/**
 * Colors
 */
/**
 * Syntax highlighting styles
 */
pre,
code {
  border: 1px solid #F2F2F2;
  background-color: #F2F2F2;
}

.highlight {
  background: #F2F2F2;
}
.highlighter-rouge .highlight {
  background: #F2F2F2;
}
.highlight .c {
  color: #B3B0A1;
  font-style: italic;
}
.highlight .err {
  color: #EA5F66;
  background-color: #FDFDFD;
}
.highlight .k {
  color: #BF83C0;
}
.highlight .o {
  font-weight: bold;
}
.highlight .cm {
  color: #B3B0A1;
  font-style: italic;
}
.highlight .cp {
  color: #909090;
}
.highlight .c1 {
  color: #B3B0A1;
  font-style: italic;
}
.highlight .cs {
  color: #909090;
  font-style: italic;
}
.highlight .gd {
  color: #000000;
  background-color: #fdd;
}
.highlight .gd .x {
  color: #000000;
  background-color: #faa;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gr {
  color: #EA5F66;
}
.highlight .gh {
  color: #909090;
}
.highlight .gi {
  color: #000000;
  background-color: #dfd;
}
.highlight .gi .x {
  color: #000000;
  background-color: #afa;
}
.highlight .go {
  color: #909090;
}
.highlight .gp {
  color: #505050;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #909090;
}
.highlight .gt {
  color: #5485C0;
}
.highlight .kc {
  color: #BF83C0;
}
.highlight .kd {
  color: #BF83C0;
}
.highlight .kp {
  color: #BF83C0;
}
.highlight .kr {
  color: #BF83C0;
}
.highlight .kt {
  color: #EA5F66;
}
.highlight .m {
  color: #F99157;
}
.highlight .s {
  color: #74A774;
}
.highlight .na {
  color: #EA5F66;
}
.highlight .nb {
  color: #EA5F66;
}
.highlight .nc {
  color: #EA5F66;
}
.highlight .no {
  color: #EA5F66;
}
.highlight .ni {
  color: #BF83C0;
}
.highlight .ne {
  color: #5485C0;
}
.highlight .nf {
  color: #5485C0;
}
.highlight .nn {
  color: #505050;
}
.highlight .nt {
  font-weight: bold;
}
.highlight .nv {
  color: #EA5F66;
}
.highlight .ow {
  font-weight: bold;
}
.highlight .w {
  color: #B3B0A1;
}
.highlight .mf {
  color: #F99157;
}
.highlight .mh {
  color: #F99157;
}
.highlight .mi {
  color: #F99157;
}
.highlight .mo {
  color: #F99157;
}
.highlight .sb {
  color: #74A774;
}
.highlight .sc {
  color: #74A774;
}
.highlight .sd {
  color: #74A774;
}
.highlight .s2 {
  color: #74A774;
}
.highlight .se {
  color: #74A774;
}
.highlight .sh {
  color: #74A774;
}
.highlight .si {
  color: #74A774;
}
.highlight .sx {
  color: #74A774;
}
.highlight .sr {
  color: #74A774;
}
.highlight .s1 {
  color: #74A774;
}
.highlight .ss {
  color: #BF83C0;
}
.highlight .bp {
  color: #909090;
}
.highlight .vc {
  color: #EA5F66;
}
.highlight .vg {
  color: #EA5F66;
}
.highlight .vi {
  color: #EA5F66;
}
.highlight .il {
  color: #EA5F66;
}

@media (prefers-color-scheme: dark) {
  pre,
  code {
    border: 1px solid #393939;
    background-color: #393939;
  }
  .highlight {
    background: #393939;
  }
  .highlighter-rouge .highlight {
    background: #393939;
  }
  .highlight .c {
    color: #747369;
  }
  .highlight .cm {
    color: #747369;
  }
  .highlight .cp {
    color: #747369;
  }
  .highlight .c1 {
    color: #747369;
  }
  .highlight .cs {
    color: #747369;
  }
}

/*# sourceMappingURL=main.css.map */